*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  padding: 20px;
  background-color:#EEE0E9;
  color: #424242;
  text-align: center;
}
header{
  margin-top: 20px;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  padding: 20px; 
  border-bottom: solid;
}
h2{
  text-transform: uppercase;
  text-align: center;
  background-color: #DFC0D5;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
h3{
  border-bottom: solid 2px;
  font-size: medium;
  padding-bottom: 15px;
}
p{
  font-size: 14px;
  font-weight:bold;
  border-top: solid 2px;
  padding-top: 14px;
  text-align: left;
}
img{
  max-width: 100%;
}






.flexbox-section{
  margin-top: 7%;
}
.flexbox-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 10px;
}
.flexbox-item{
  border-radius: 10px;
  width: 22%;
  max-height: 450px;
  
  
  padding: 20px;
  border: solid grey 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}
.flexbox-item:nth-child(1) {
  width: 45%;
}
.flexbox-item:nth-child(1) img{
  width: 60%;
}



.grid-section{
  margin-top: 7%;
}
.grid-list{
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item{
  margin: 5px;
  border-radius: 10px;
  padding: 20px;
  border: solid grey 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
}
.grid-item:nth-child(1) {
  grid-column: span 2;
}



@media screen and (max-width: 1024px) {
  .flexbox-item{
    width: 31%;
  }
  .flexbox-item:nth-child(1) {
    width: 47%;
  }
  .flexbox-item:nth-child(2) {
    width: 47%;
  }
  .grid-list{
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-item{
  grid-column: auto / span 2;
}
  .grid-item:nth-child(1) {
    grid-column: span 3;
  }
   .grid-item:nth-child(2) {
    grid-column: span 3;
  }
}

@media screen and (max-width: 600px) {
  .flexbox-item{
    width: 95%;
  }
  .flexbox-item:nth-child(1) {
    width: 95%;
  }
  .flexbox-item:nth-child(2) {
    width: 95%;
  }
  .grid-list{
    grid-template-columns: auto;
  }
}
